@model VisingPackSolution.ViewModels.MachineState.MsGluingVM
@{ ViewData["Title"] = "Machine State";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container-fluid">
    <h1 class="mt-4">Machine State</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Gluing D650 (Factory 2)
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.D650ProductCodeChangeCount prod code changes</div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.D650JobCount pcs</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Gluing D750 (Factory 2)
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.D750ProductCodeChangeCount prod code changes</div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.D750JobCount pcs</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Gluing D1000 (Factory 2)
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.D1000ProductCodeChangeCount prod code changes</div>
                                    <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.D1000JobCount pcs</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Gluing D1100 (Factory 2)
                            </div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.D1100ProductCodeChangeCount prod code changes</div>
                            <div class="h6 mb-0 font-weight-bold text-gray-800">@Model.D1100JobCount pcs</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 0px 0px 20px 10px">
        <form asp-action="Index" method="get" style="width: 1000px">
            <div class="row">
                <div class="col-md-12" style="margin: 0px 0px 10px -10px">
                    <button type="button" onclick="window.location.href='/MsGluing/GetDataLastHour'" class="btn btn-dark" style="width: 110px">1 Hour</button>
                    <button type="button" onclick="window.location.href='/MsGluing/GetDataDay'" class="btn btn-dark" style="width: 110px">Day</button>
                    <button type="button" onclick="window.location.href='/MsGluing/GetDataWeek'" class="btn btn-dark" style="width: 110px">Week</button>
                    <button type="button" onclick="window.location.href='/MsGluing/GetDataMonth'" class="btn btn-dark" style="width: 110px">Month</button>
                    <button type="button" onclick="window.location.href='/MsGluing/GetDataYear'" class="btn btn-dark" style="width: 110px">Year</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3" style="margin-left: -10px">
                    <div class="row">
                        <div class="col-md-2">
                            <label style="margin-top: 6px">From</label>
                        </div>
                        <div class="col-md-10">
                            <input type="date" value="@ViewBag.From.ToString("yyyy-MM-dd")" name="From" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-1">
                            <label style="margin-top: 6px">To</label>
                        </div>
                        <div class="col-md-10">
                            <input type="date" value="@ViewBag.To.ToString("yyyy-MM-dd")" name="To" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="cold-md-3">
                    <button type="submit" class="btn btn-primary">Find</button>
                    <button type="button" onclick="window.location.href='/MsGluing/Index'" class="btn btn-dark">Reset</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Machine Speed</h6>
        </div>
        <div class="card-body" style="height:450px">
            <div id="chartContainer" width="auto" height="100px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3">
            <div class="card shadow mb-4">
                <div class="card-header border-bottom-primary py-3">
                    <h6 class="m-0 font-weight-bold text-primary">D650</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 300px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Datetime
                                    </th>
                                    <th>
                                        State
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.D650Events)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Datetime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Event)
                                        </td>
                                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card shadow mb-4">
                <div class="card-header border-bottom-success py-3">
                    <h6 class="m-0 font-weight-bold text-success">D750</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 300px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Datetime
                                    </th>
                                    <th>
                                        State
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.D750Events)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Datetime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Event)
                                        </td>
                                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card shadow mb-4">
                <div class="card-header border-bottom-info py-3">
                    <h6 class="m-0 font-weight-bold text-info">D1000</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 300px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Datetime
                                    </th>
                                    <th>
                                        State
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.D1000Events)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Datetime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Event)
                                        </td>
                                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card shadow mb-4">
                <div class="card-header border-bottom-warning py-3">
                    <h6 class="m-0 font-weight-bold text-warning">D1100</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 300px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Datetime
                                    </th>
                                    <th>
                                        State
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.D1100Events)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Datetime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Event)
                                        </td>
                                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
        window.onload = function  () {
            var d650Result = @Html.Raw(ViewBag.D650SpeedDataPoints);
            var d750Result = @Html.Raw(ViewBag.D750SpeedDataPoints);
            var d1000Result = @Html.Raw(ViewBag.D1000SpeedDataPoints);
            var d1100Result = @Html.Raw(ViewBag.D1100SpeedDataPoints);

            var d650SpeedDataPoints = [];
            var d750SpeedDataPoints = [];
            var d1000SpeedDataPoints = [];
            var d1100SpeedDataPoints = [];

            for (var i = 0; i < d650Result.length; i++){
                d650SpeedDataPoints.push({ label: d650Result[i].Datetime, y: d650Result[i].Speed });
            }
            for (var i = 0; i < d750Result.length; i++) {
                d750SpeedDataPoints.push({ label: d750Result[i].Datetime, y: d750Result[i].Speed });
            }
            for (var i = 0; i < d1000Result.length; i++) {
                d1000SpeedDataPoints.push({ label: d1000Result[i].Datetime, y: d1000Result[i].Speed });
            }
            for (var i = 0; i < d1100Result.length; i++) {
                d1100SpeedDataPoints.push({ label: d1100Result[i].Datetime, y: d1100Result[i].Speed });
            }

            var chart = new CanvasJS.Chart("chartContainer",
                {
                    animationEnabled: true,
                    zoomEnabled: true,
                    exportEnabled: true,
                    zoomType: "xy",
                    //title: {
                    //    text: "Speed",
                    //},
                    axisY: {
                        title: "pcs/h",
                        gridThickness: 0.2,
                    },
                    legend: {
                        horizontalAlign: "right",
                        verticalAlign: "center",
                        cursor: "pointer",
                        itemclick: function (e) {
                            if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                                e.dataSeries.visible = false;
                            } else {
                                e.dataSeries.visible = true;
                            }

                            e.chart.render();
                        },
                    },
                    data: [
                        {
                            type: "line",
                            //lineColor: "#007BFF",
                            //markerColor: "#007BFF",
                            //legendMarkerColor: "#007BFF",
                            xValueType: "dateTime",
                            yValueFormatString: "#####.0",
                            showInLegend: true,
                            name: "D650",
                            dataPoints: d650SpeedDataPoints
                        },
                        {
                            type: "line",
                            //lineColor: "#FFC107",
                            //markerColor: "#FFC107",
                            //legendMarkerColor: "#FFC107",
                            xValueType: "dateTime",
                            xValueFormatString: "dd/MM/yyyy",
                            yValueFormatString: "#####.0",
                            showInLegend: true,
                            name: "D750",
                            dataPoints: d750SpeedDataPoints
                        },
                        {
                            type: "line",
                            //lineColor: "#28A745",
                            //markerColor: "#28A745",
                            //legendMarkerColor: "#28A745",
                            xValueType: "dateTime",
                            xValueFormatString: "dd/MM/yyyy",
                            yValueFormatString: "#####.0",
                            showInLegend: true,
                            name: "D1000",
                            dataPoints: d1000SpeedDataPoints
                        },
                        {
                            type: "line",
                            //lineColor: "#DC3545",
                            //markerColor: "#DC3545",
                            //legendMarkerColor: "#DC3545",
                            xValueType: "dateTime",
                            xValueFormatString: "dd/MM/yyyy",
                            yValueFormatString: "#####.0",
                            showInLegend: true,
                            name: "D1100",
                            dataPoints: d1100SpeedDataPoints
                        },
                    ]

                });

            chart.render();
        }

</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>





