@model VisingPackSolution.ViewModels.ProductionTracking.PtGluingDayVM
@{ ViewData["Title"] = "Production Tracking";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container-fluid">
    <h1 class="mt-4">Production Tracking</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <div class="row" style="margin: 0px 0px 20px 10px">
        <form asp-controller="PtGluing" asp-action="GetDataDay" method="post" style="width: 1000px">
            <div class="row">
                <div class="col-md-12" style="margin: 0px 0px 10px -10px">
                    <button type="button" onclick="window.location.href='/PtGluing/GetData1H'" class="btn btn-dark" style="width: 110px">1 Hour</button>
                    <button type="button" onclick="window.location.href='/PtGluing/GetDataDay'" class="btn btn-dark" style="width: 110px">Day</button>
                    <button type="button" onclick="window.location.href='/PtGluing/GetDataWeek'" class="btn btn-dark" style="width: 110px">Week</button>
                    <button type="button" onclick="window.location.href='/PtGluing/GetDataMonth'" class="btn btn-dark" style="width: 110px">Month</button>
                    <button type="button" onclick="window.location.href='/PtGluing/GetDataYear'" class="btn btn-dark" style="width: 110px">Year</button>
                    <button type="button" onclick="window.location.href='/PtGluing/ExportExcelDay'" class="btn btn-success" style="width: 110px">Export</button>
                    <button type="button" onclick="window.location.href='/PtGluing/ExportExcelAll'" class="btn btn-warning" style="width: 110px">Export All</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5" style="margin-left: -10px">
                    <div class="row">
                        <div class="col-md-4">
                            <label style="margin-top: 6px">Select a date</label>
                        </div>
                        <div class="col-md-8">
                            <input type="datetime" name="selectedDate" value="@ViewBag.SelectedDate.ToString("yyyy-MM-dd hh:mm:ss tt")" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="cold-md-3">
                    <button type="submit" value="Find" name="Selected" class="btn btn-primary">Find</button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="card shadow mb-4">
                <div class="card-header border-bottom-primary py-3">
                    <h6 class="m-0 font-weight-bold text-primary">D650</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 350px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Worksheet
                                    </th>
                                    <th>
                                        ProductCode
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        CompleteTime
                                    </th>
                                    <th>
                                        PlanTime (h)
                                    </th>
                                    <th>
                                        PlanEndTime (h)
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.D650PTDay)
                                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ws)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endtime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plantime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlanEndtime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>
}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card shadow mb-4">
                <div class="card-header border-bottom-success py-3">
                    <h6 class="m-0 font-weight-bold text-success">D750</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 350px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Worksheet
                                    </th>
                                    <th>
                                        ProductCode
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        CompleteTime
                                    </th>
                                    <th>
                                        PlanTime (h)
                                    </th>
                                    <th>
                                        PlanEndTime (h)
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.D750PTDay)
                                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ws)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endtime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plantime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlanEndtime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-6">
            <div class="card shadow mb-4">
                <div class="card-header border-bottom-info py-3">
                    <h6 class="m-0 font-weight-bold text-info">D1000</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 350px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Worksheet
                                    </th>
                                    <th>
                                        ProductCode
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        CompleteTime
                                    </th>
                                    <th>
                                        PlanTime (h)
                                    </th>
                                    <th>
                                        PlanEndTime (h)
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.D1000PTDay)
                                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ws)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endtime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plantime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlanEndtime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card shadow mb-4">
                <div class="card-header border-bottom-warning py-3">
                    <h6 class="m-0 font-weight-bold text-warning">D1100</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive" style="height: 350px; overflow: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Worksheet
                                    </th>
                                    <th>
                                        ProductCode
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        CompleteTime
                                    </th>
                                    <th>
                                        PlanTime (h)
                                    </th>
                                    <th>
                                        PlanEndTime (h)
                                    </th>
                                    <th>
                                        Status
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.D1100PTDay)
                                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ws)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Job)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endtime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Plantime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PlanEndtime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                    </tr>}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>